* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    color: #000;
    background-color: #efefef;
}
span {
    display: inline-block;
}
.ls-header {
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}
.ls-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url("img/ls-top-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.ls-header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.8;
}
.ls-header-content {
    color: #efefef;
    font-size: 1.4rem;
    z-index: 2;  
    margin: 0 auto; 
}
.ls-header-content h1 {   
    margin-bottom: 1rem; 
}
#ls-icon-animated {
    font-size: 42px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.ls-banner {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #000;
    color: #efefef;
}
.ls-inner-line{
    width: 20%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 3px solid #225470;
    border-bottom-style: dotted;
}
.ls-inner-line-service{
    width: 10%;
    height: 1px;
    margin: 0px auto;
}
.ls-about {
    background-color:#efefef;
    font-size: 1.2rem;
}

.ls-about-bio {
    flex: 2;
}
.showcase-text {
    padding: 3rem !important;
}
.showcase-img {
    min-height: 30rem !important;
}
#showcase-img-1 {
    background-image: url("img/ls-interest-1.jpeg");
    background-size: cover;
}
#showcase-img-2 {
    background-image: url("img/ls-interest-2.jpeg");
    background-size: cover;
}
#showcase-img-3 {
    background-image: url("img/ls-interest-3.png");
    background-size: cover;
}
.ls-services {
    background-image: linear-gradient(to bottom, rgba(167,173,186,1) 25%,rgba(0,0,0,0.7) 100%), url("img/ls-top-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100vw;
    color: #fdfeff;
}
.ls-services-holder {
    justify-content: center;
    align-items: center;
}
.ls-services-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ls-services-text {
    min-width: 300px;
}
.ls-portfolio {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0,0,0,0.6) 100%), url("img/ls-parallax-bg-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100vw;
    color: #fdfeff;
}
.card {
    width: 18rem;
    margin: 0 auto;
}
.card-body {
    font-size: 1.2rem;
    color: #333;
}
.card-text {
    height: 140px;
}
.ls-counter {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 3.5px;
    display: flex;
    z-index: 2;
}
.ls-counter div {
    min-width: 20%;
    padding: 25px;
    border: 2px solid #fdfeff;
    border-radius: 8px;
    opacity: 0.75;
    background: #343d46;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ls-counter span {
    display: block;
    font-size: 1rem;
}
ul li {
    list-style: none;
}
.fab {
    margin: 5px;
    color:#4f5b66;
}

button.resume-click-control {
    font-size: 1.5rem;
    color: #333;
    width: 100%;
}
.btn-link:hover {
    color: #000 !important;
    text-decoration: none !important;
}
.card-body ul {
    padding: 0 !important;
}
/* Media Query */

@media(max-width:350px) {
    .ls-counter div {
        padding: 5px !important;
    }
}
@media(max-width:365px) {
    button.resume-click-control {
        font-size: 1rem;
    }
}
@media(max-width:360px) {
    .card {
        width: 12rem !important;
    }
    .card-body {
        font-size: .75rem !important;
    }
    .card-text {
        height: 100px !important;
    }
}

@media(max-width:412px) {
    body {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
    .ls-about-profile-holder img {
        height: 225px;
    }
}

@media(max-width:768px) {
    .card {
        margin: 0 auto;
    }
}
@media(max-width:780px) {
    .ls-porfolio-holder {
        height: 382px !important;
    }
    .ls-about-desc {
        text-align: left !important;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1rem !important;
    }
    .ls-about img {
        padding-right: 10px;
        padding-left: 10px;
    }
    .ls-contact ul {
        padding-left: 0;
    }
    .ls-header-content {
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }
    .ls-counter div {
        padding: 10px;
    }
}
@media(max-width:960px) {
    .ls-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .ls-inner-line {
        width: 30%;
    }
    .ls-services-text {
        text-align: center;
    }
    .ls-services-list img {
        width: 150px !important;
        height: 150px !important;
    }
}
@media(max-width: 1010px) {
    .card {
        width: 14rem;
    }
    .card-body {
        font-size: 1rem;
    }
}
@media(max-width:1000px) {
    .ls-about-profile-holder img {
        max-width: 80%;
        margin: 0px auto;
    }
    .ls-about-bio h4 {
        text-align: center;
    }
    .ls-portfolio-products {
        text-align: center;
    }
    .ls-porfolio-holder {
        margin: 0px auto;
    }
    #return-to-top {
        display: none !important;
    }   
}

/* Scroll up animation */

#scroll-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-to-top i {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 12px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#scroll-to-top:hover i {
    color: #fff;
    top: 5px;
}